@font-face {
    font-family: 'harrypotter';
    src: url('../assets/HARRYP__.TTF');
}

.gold-svg {
    width: 100vw;
    height: 100vh;
    margin-left: 58vw;
    background: url("../assets/goldOutline.svg");
    background-repeat: no-repeat;
}
.hogwarts-crest {
    width: 263.1px;
    height: 346.26px;
    background: url("../assets/hogwartsLogo.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 74.39%;
    right: 12.91%;
    top: 11.96%;
    bottom: 49.98%;   
}
.castle {
    background: url("../assets/Castle.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 1088.63px;
    height: 566.59px;
    left: 52vw;
    top: 43vh; /*540*/
}
.sorting-text {
    position: absolute;
    width: 986px;
    height: 180px;
    left: 126px;
    top: 150px;
    font-family: harrypotter;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 48px;
    display: flex;
    align-items: center;
    color: #DCCF8D;
    line-height: 52px;
}

.button-two {
    position: absolute;
    top: 59vh;
    left: 37vw;
    background-color: black;
    border: none;
    color:rgb(219, 214, 170);
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer; 
    border-radius: 15px;
    border: 2px solid;
    font-family: harrypotter;
    font-size: 36px;
    /* animation: blurButton 4.5s; */
}

.button-two:hover {
    color: white;
}

@media screen and (min-width: 400px) {
    .castle {
        /* position: relative; */
    }
}