@font-face {
    font-family: 'harrypotter';
    src: url('../assets/HARRYP__.TTF');
}

@keyframes blurHat {
    from {filter: blur(200px);}
    to {filter: blur(0px);}
}

.text-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;
}

.text {
    display: flex;
    position: absolute;
    color: rgb(219, 214, 170);
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "harrypotter";
    font-size: 144px;
    /* animation: blurHat 3.25s; */
}

.text2 {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    font-family: "harrypotter";
    color: rgb(219, 214, 170);
    position: absolute;
    top: 506px;
    font-size: 72px;
    letter-spacing: 8px;
    /* animation: blurHat 3.25s; */
}

.img-container img {
    height: 18.5em;
    position: relative;
    top: 6%;
    /* animation: blurHat 3.25s; */
}

@media (min-width: 0px) and (max-width: 1001px) {
    .img-container img {
        height: 10em;
    }
    .text {
        font-size: 70px;
        top: 30%;
    }
    .text2 {
        font-size: 25px;
        top: 287px;
    }
}
