@font-face {
    font-family: 'harrypotter';
    src: url('../../assets/HARRYP__.TTF');
}

@keyframes blurAction {
    from {filter: blur(22px);}
    to {filter: blur(0px);}
}

.house-styles {
    font-size: 65px;
    font-family: harrypotter;
    color: rgb(227, 230, 61);
    position: absolute;
    left: 1.5em;
    bottom: 10em;
}

.house-text {
    font-size: 120px;
    /* font-weight: bolder; */
    vertical-align: middle;
    animation: blurAction 3.0s;
}

.gold-svg {
    width: 100vw;
    height: 100vh;
    margin-left: 58vw;
    background: url("../../assets/goldOutline.svg");
    background-repeat: no-repeat;
}

.castle {
    background: url("../../assets/Castle.svg");
    background-repeat: no-repeat;
    position: absolute;
    width: 1088.63px;
    height: 566.59px;
    left: 52vw;
    top: 43vh; /*540*/
}

.button {
    background: url("../../assets/button.svg");
    background-repeat: no-repeat;
    position: absolute;
    height: 140px;
    width: 638px;
    left: 0em;
    border: none;
    animation: blurAction 2.0s;
}

.gryffindor-logo {
    width: 263.1px;
    height: 346.26px;
    background: url("../../assets/gryffindorLogo.svg");
    background-repeat: no-repeat;
    position: absolute;
    left: 74.39%;
    right: 12.91%;
    top: 11.96%;
    bottom: 49.98%;
    z-index: 2;   
}

.slytherin-logo {
    width: 768.1px;
    height: 524.26px;
    background: url("../../assets/slytherin-logo.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 75%;
    top: 6.96%;
    z-index: 2;
    filter: drop-shadow(17px 12px 10px #000);
    animation: blurAction 2.0s;
}

/* .hufflepuff-logo {
    width: 768.1px;
    height: 524.26px;
    background: url("../../assets/hufflepuff-logo.png");
    background-repeat: no-repeat;
    position: absolute;
    left: 75%;
    top: 6.96%;
    z-index: 2;
    filter: drop-shadow(17px 12px 10px #000);
    animation: blurAction 2.0s;   
} */